.add-ModalBg,
.edit-ModalBg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  animation-name: modalOpen;
  animation-duration: .5s;
  display: none;
  z-index: 5;
  overflow: auto;
}

.add-ModalBg .add-Modal-content,
.add-ModalBg .edit-content,
.edit-ModalBg .add-Modal-content,
.edit-ModalBg .edit-content {
  background: white;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 25px;
  padding: 15px 5px 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.add-ModalBg .table-responsive,
.edit-ModalBg .table-responsive {
  padding: 15px 25px 0;
}

.add-ModalBg .brangayClearance-close-btn,
.edit-ModalBg .brangayClearance-close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.add-ModalBg .newsform,
.edit-ModalBg .newsform {
  padding: 10px 15px 15px;
}

.add-ModalBg .newsform .element,
.edit-ModalBg .newsform .element {
  margin: 10px 5px;
}

.add-ModalBg .newsform .element label,
.edit-ModalBg .newsform .element label {
  display: block;
  margin-bottom: 5px 0;
  font-weight: bold;
  letter-spacing: 1px;
}

.add-ModalBg .newsform .element input,
.add-ModalBg .newsform .element textarea,
.edit-ModalBg .newsform .element input,
.edit-ModalBg .newsform .element textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  outline: none;
  padding: .5em 1em;
  border: 1px solid #b8b8b8;
  border-radius: 3px;
}

.add-ModalBg .newsform .element input[type=file],
.edit-ModalBg .newsform .element input[type=file] {
  padding: 0;
  cursor: pointer;
  border: 1px solid #b8b8b8;
  border-radius: 3px;
  padding: .5em 1em;
}

.add-ModalBg .newsform .btn,
.edit-ModalBg .newsform .btn {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 25px 0 0px;
  padding: 0 3px;
}

.add-ModalBg .newsform .btn a,
.edit-ModalBg .newsform .btn a {
  text-decoration: none;
}

.add-ModalBg .newsform .btn .close-add-ModalBg,
.add-ModalBg .newsform .btn .view-close-btn,
.edit-ModalBg .newsform .btn .close-add-ModalBg,
.edit-ModalBg .newsform .btn .view-close-btn {
  background-color: red;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  padding: .5em 1em;
  color: #fff;
  text-transform: capitalize;
}

.add-ModalBg .newsform .btn .submit-btn,
.edit-ModalBg .newsform .btn .submit-btn {
  background-color: #3636c8;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  padding: .5em 1em;
  color: #fff;
}

.add-ModalBg .newsform .btn input[type=submit],
.edit-ModalBg .newsform .btn input[type=submit] {
  background-color: #3636c8;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  padding: .5em 1em;
  color: #fff;
}

.add-ModalBg form,
.edit-ModalBg form {
  padding: 25px 0 0;
}

.add-ModalBg form a,
.edit-ModalBg form a {
  color: #000;
}

.add-ModalBg form .close-add-ModalBg,
.edit-ModalBg form .close-add-ModalBg {
  background: red;
  margin-right: 3px;
}

.add-ModalBg form .view-close-btn,
.edit-ModalBg form .view-close-btn {
  background: red;
  margin-right: 3px;
}

.view-all {
  text-decoration: none;
  margin-right: 15px;
}
/*# sourceMappingURL=pendingModal.css.map */